{% load static %}

<!DOCTYPE html>
<html lang="EN-GB">

    <head>
        <title>
            My lifelog - Trash.
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="I'm a friend and lifelog that you can share things with." />
        <meta name="keywords" content="lifelog, friend, events, communicate" />
        <meta name="author" content="Dml Ademola, TechWise LLC." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="rgb(1, 1, 34)" />
        <link href="{% static 'images/lifelog_lg.jpg' %}" rel="icon" type="image/jpg" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% if user.theme == "light" %}{% static 'css/light_theme.css' %}{% elif user.theme == "dark" %}{% static 'css/dark_theme.css' %}{% else %}{% static 'css/grey_theme.css' %}{% endif %}" id="theme" />
    </head>

    <body>
        {% if user.newly_signed_in == True %}
        <div class='welcome' id='welcome'>
            <h1>Welcome to ...</h1>
            <img src="{% static 'images/lifelog_lg.jpg' %}" alt='#img'><br />
            <p class='wel'>My lifelog</p>
        </div>
        {% endif %}
        <div class="container1">
            <div class="head">
                <div class="division">
                    <h1>My lifelog.</h1>
                </div>
                <div class="division top_act">
                    <a href="{% url 'home' %}" class='icon icon8' title="Home."></a>
                    <a href="{% url 'trash' %}" class='icon icon4 active' title="Go to Trash."></a>
                    <a href="{% url 'profile' %}" class='icon icon10' title="Profile &amp; Preferences."></a>
                    <a href="{% url 'signout' %}" class='signout icon icon7' title="Sign Out."></a>
                </div>
                <div class="division">
                    <form name='search' onsubmit='search_ajax(event, this["search_str"].value);'>
                        <input type='text' name='search_str' class='input2' placeholder='Search for an event...' onkeyup='search_ajax(event, this.value);' onfocus='if (this.value != "") { search_ajax(event, this.value); }' />
                    </form>
                </div>
            </div>
            <div class="main" id="main">
                <div class="events" id="events">
                    {% if events|length > 0 %}
                    {% for event in events %}
                    <div class='event' id="e{{event.id}}">
                        <div class='ent_cont'>
                            <div class='entries'>
                                <p class='brief'>{{event.brief}}</p>
                                <p class='details'>{{event.details}}</p>
                                <h6 class='dateofevent' data-value="{{event.date_of_event|date:"Y-m-d"}}">Date: {{event.date_of_event|date:"l, j F, Y"}}</h6>
                            </div>
                            <div class='action'>
                                <span class='icon icon9 icon_20px res' title='Restore from Trash'></span>
                                <span class='icon icon4 icon_20px del' title='Delete permanently.'></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h1 class='text' id='text'>No event found in trash!</h1>
                    {% endif %}
                </div>
                <div class="fscreen" id="fscreen">
                    <div class="event_fscreen" id='event_fscreen'>
                        <span class='close' onclick="document.getElementById('fscreen').style.display = 'none';" title='Close'>&times;</span>
                        <div class='event_container'>
                            <p id='fscreen_brief' style='text-align: center;overflow-wrap: anywhere;'></p>
                            <div class='event_file' id='event_file'></div>
                            <h3 id='fscreen_desc' class='fscreen_desc'></h3>
                            <h5 id='fscreen_dateofevent'></h5>
                            <h5 id='fscreen_datetime'></h5>
                            <div id='fscreen_action' class='fscreen_action'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='bottom'>
                <span id="next_btn" title='Previous.'>&laquo;Prev</span>
                <span id="prev_btn" title='Next.'>Next&raquo;</span>
            </div>
        </div>
        <script src="{% static 'js/script1.js' %}"></script>
    </body>

</html>
